matplotlib~=3.3.1
requests~=2.24.0
python-dateutil~=2.8.1
PyYAML==6.0
numpy~=1.19.2
sseclient~=0.0.26
windrose~=1.6.8
Flask~=1.1.2
setuptools~=49.6.0
Pillow~=7.2.0
pip~=21.2.4
Jinja2~=2.11.2
Werkzeug~=1.0.1
itsdangerous~=1.1.0
click~=7.1.2
MarkupSafe~=1.1.1
certifi~=2020.6.20
chardet~=3.0.4
urllib3~=1.25.10
six~=1.15.0
idna~=2.10
cycler~=0.10.0
pyparsing~=2.4.7
kiwisolver~=1.2.0
sdnotify~=0.3.2
uritemplate~=4.1.1
geojson~=2.5.0